<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.realtrackandroid"
    android:versionCode="7"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/realtrack"
        android:label="@string/app_name"
        android:theme="@style/Theme.Vrf" >

        <!-- ACTIVITIES -->
        <activity
            android:name="com.realtrackandroid.views.welcome.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.realtrackandroid.views.projectsactivities.AllProjectsActivitiesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/allprojectsactivity_label" />
        <activity
            android:name="com.realtrackandroid.views.projects.AddProjectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/addprojectactivity_label" />
        <activity
            android:name="com.realtrackandroid.views.projects.DisplayProjectActivity"
            android:label="@string/displayprojectactivity_label" />
        <activity
            android:name="com.realtrackandroid.views.projects.EditProjectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/editprojectactivity_label" />
        <activity
            android:name="com.realtrackandroid.views.activities.AddActivitiesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/addactivitiesactivity_label" />
        <activity
            android:name="com.realtrackandroid.views.activities.DisplayActivitiesActivity"
            android:label="@string/displayactivitiesactivity_label" />
        <activity
            android:name="com.realtrackandroid.views.activities.EditActivitiesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/editactivitiesactivity_label" />
        <activity
            android:name="com.realtrackandroid.views.participationsactive.RecordOrEditParticipationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/recordparticipationactivity_label"
            android:parentActivityName="com.realtrackandroid.views.welcome.WelcomeActivity"
            android:windowSoftInputMode="stateHidden" >

            <!-- Back stack for notifications -->
            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.realtrackandroid.views.welcome.WelcomeActivity" />
        </activity>
        <activity
            android:name="com.realtrackandroid.views.participationsactive.RecordQuickParticipationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/recordquickparticipationactivity_label"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.realtrackandroid.views.participationspending.PendingParticipationActivity"
            android:label="@string/pendingparticipationactivity_label" />
        <activity
            android:name="com.realtrackandroid.views.participationsdonesummaries.ParticipationSummaryActivity"
            android:label="@string/allparticipationsactivity_label" />
        <activity
            android:name="com.realtrackandroid.views.help.HelpDialog"
            android:label="@string/helpactivity_label" >
        </activity>
        <activity
            android:name="com.realtrackandroid.views.participationsactive.signinsheet.SignInSheetLandingActivity"
            android:label="@string/signinsheetlandingactivity_label" >
        </activity>
        <activity
            android:name="com.realtrackandroid.views.participationsactive.signinsheet.SignInSheetActivity"
            android:label="@string/signinsheetactivity_label" >
        </activity>
        <activity
            android:name="com.realtrackandroid.views.participationsactive.signinsheet.ReviewSignInActivity"
            android:label="@string/reviewsigninactivity_label" >
        </activity>
        <activity
            android:name="com.realtrackandroid.views.participationsactive.signinsheet.SignatureDialog"
            android:label="@string/title_activity_signature" >
        </activity>
        <activity
            android:name="com.realtrackandroid.views.welcome.CollectPCVInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/collectpcvactivity_label" >
        </activity>
        <activity
            android:name="com.realtrackandroid.views.help.FrameworkInfoDialog"
            android:label="@string/frameworkinfoactivity_label"
            android:configChanges="orientation|keyboardHidden|screenSize" >
        </activity>

        <!-- SERVICES AND PROVIDERS -->

        <receiver android:name="com.realtrackandroid.reminderalarms.NotificationReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.realtrackandroid.reminderalarms.NotificationService" />

        <provider
            android:name="com.realtrackandroid.providers.CachedFileContentProvider"
            android:authorities="com.realtrackandroid.providers.CachedFileContentProvider"
            android:exported="true" >
        </provider>
    </application>

</manifest>