<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackforchange"
    android:versionCode="4"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:icon="@drawable/realtrack"
        android:label="@string/app_name"
        android:theme="@style/Theme.Vrf"
        android:allowBackup="true" >
        <activity
            android:name="com.hackforchange.views.welcome.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hackforchange.views.projectsactivities.AllProjectsActivitiesActivity"
            android:label="@string/allprojectsactivity_label" />
        <activity
            android:name="com.hackforchange.views.projects.AddProjectActivity"
            android:label="@string/addprojectactivity_label" />
        <activity
            android:name="com.hackforchange.views.projects.DisplayProjectActivity"
            android:label="@string/displayprojectactivity_label" />
        <activity
            android:name="com.hackforchange.views.projects.EditProjectActivity"
            android:label="@string/editprojectactivity_label" />
        <activity
            android:name="com.hackforchange.views.activities.AddActivitiesActivity"
            android:label="@string/addactivitiesactivity_label" />
        <activity
            android:name="com.hackforchange.views.activities.DisplayActivitiesActivity"
            android:label="@string/displayactivitiesactivity_label" />
        <activity
            android:name="com.hackforchange.views.activities.EditActivitiesActivity"
            android:label="@string/editactivitiesactivity_label" />
        <activity
            android:name="com.hackforchange.views.participationsactive.RecordParticipationActivity"
            android:label="@string/recordparticipationactivity_label" />
        <activity
            android:name="com.hackforchange.views.participationsactive.RecordQuickParticipationActivity"
            android:label="@string/recordquickparticipationactivity_label" />
        <activity
            android:name="com.hackforchange.views.participationspending.PendingParticipationActivity"
            android:label="@string/pendingparticipationactivity_label" />
        <activity
            android:name="com.hackforchange.views.activities.AllParticipationActivity"
            android:label="@string/allparticipationsactivity_label" />
        <activity
            android:name="com.hackforchange.views.participationsdonesummaries.ParticipationSummaryActivity"
            android:label="@string/allparticipationsactivity_label" />

        <receiver android:name="com.hackforchange.reminderalarms.NotificationReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.hackforchange.reminderalarms.NotificationService" />

        <provider
            android:name="com.hackforchange.providers.CachedFileContentProvider"
            android:authorities="com.hackforchange.providers.CachedFileContentProvider"
            android:exported="false" >
        </provider>

        <activity
            android:name="com.hackforchange.views.help.HelpDialog"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name="com.hackforchange.views.participationsactive.signinsheet.SignInSheetLandingActivity"
            android:label="@string/title_activity_sign_in_sheet_landing" >
        </activity>
    </application>

</manifest>
